/* ===============================GERAL=============================== */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
:root {
    --branco: #fafafa;
    --cinza: #aaa;
    --cinza-50: #aaaaaa50;
    --cinza-25: #aaaaaa25;
    --preto: #111;
    --preto-75: #11111175;
    --preto-93: #111111ee;
    --vermelho: #d00;
    --black-to-transp-bot: linear-gradient(to bottom, #000000dd, #00000050, transparent);
    --bg-previa: linear-gradient(to right, #000000dd, #00000050, transparent, #00000050), linear-gradient(to top, #000000dd, #00000050, transparent);
}
/* ===============================GERAL=============================== */
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-color:#000;
}
/* ===============================HEADER=============================== */
header {
    width: 100vw;
    position: fixed;
    top: 0;
    background: var(--black-to-transp-bot);
    display: grid;
    grid-template-columns: 200px auto 25%;
    grid-template-rows: 70px;
}
.logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > img {
    width: 50%;
}
header > nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
header > nav > a {
    padding: 10px 20px 10px 0;
    color: var(--branco);
    font-weight: bold;
}
header > nav > a:hover {
    color: var(--cinza);
    transition: 0.5s;
}
header > .others {
    padding: 0px 75px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
header>.others>div>img {
    width: 20px;
}
.others>.search, .others>.notification, .others>.perfil {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}
/* search */
.others>.search{
    height: 40px;
    cursor: pointer;
}
.others>.search_open {
    width: 265px;
    border: 1px solid #fafafa;
    background-color: var(--preto-93);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
header > .others > .search > input {
    width: 80%;
    height: 70%;
    border: none;
    background-color: transparent;
    color: var(--branco);
}

header > .others > .search > input:focus-within {
    border: none;
}
/* notificaçoes */
.notification {
    position: relative;
    color: var(--branco);
}
.notification>.notification_options{
    position: absolute;
    top: 70px;
    right: 0;
    min-width: 400px;
    max-width: 400px;
    min-height: 400px;
    max-height: 450px;
    background-color: #111;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    border-top: 2px solid var(--cinza);
    z-index: 1;
}
.notification_options>.notification_opt{
    border-bottom: 1px solid var(--cinza-50);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
}
.notification_opt>img {
    width: 100px;
    height: 64px;
    border-radius: 6px;
}
.text_notification{
    width: 270px;
    height: 60px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
}
.text_notification>.time{
    font-size: 0.8rem;
}
/* perfil */
.others>.perfil {
    width: 75px;
    height: 100%;
}
.drop_perfil{
    width: 100%;
    height: 100%;
    position:relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.drop_btn{
    width: 100%;
    color: var(--branco);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.drop_btn>img {
    width: 30px;
    border-radius: 4px;
}
.drop_options{
    position: absolute;
    top: 70px;
    right: -20px;
    background-color:var(--preto-93);
    min-width: 200px;
    min-height: 400px;
    z-index: 1;
}
.option{
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.option>img{
    width: 30px;
    border-radius: 4px;
}
.name_perfil{
    padding-left: 10px;
}
.option>a{
    color: var(--branco);
}
.option>a:hover{
    text-decoration: underline;
}
.drop_btn .drop_options {
    display: block;
}
hr {
    border-bottom: none;
    border-color: var(--cinza);
}
/* ===============================HEADER=============================== */
/* ===============================PREVIA=============================== */
.previa {
    width: 100%;
    height: 100vh;
    background: var(--bg-previa), url(/DIO-Interface-Netflix/src/bg-stranger-things.jpg);
}
.container_previa{
    width: 100%;
    height: 100%;
    background: var(--bg-previa);
    display: grid;
    grid-template-rows: 90vh 20vh;
}
.informacoes_previa {
    width: 100%;
    height: 90vh;
    /* background: var(--bg-container); */
    display: grid;
    grid-template-rows: 30% 10% 40% 10%;
    grid-template-columns: 40% 45% 15%;
}
.n_serie {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    color: var(--cinza);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
}
.n_serie>span{
    font-size: 2rem;
    font-weight: bold;
    padding-left: 15px;
}
.informacoes_previa>.descricao {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
}
.descricao>.name_serie{
    padding-left: 50px;
}
.descricao>.sinopse_serie{
    padding-left: 50px;
    color: var(--cinza);
    font-size: 1.5rem;
}
.btns {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.btns>.assistir{
    width: 27%;
    height: 70%;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--branco);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.btns>.assistir:hover{
    background-color: var(--cinza);
}
.btns>.assistir>span{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--preto);
}
.btns>.info_serie{
    width: 40%;
    height: 70%;
    padding: 10px;
    margin-left: 15px;
    background-color: var(--cinza-50);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.btns>.info_serie:hover{
    background-color: var(--cinza-25);
}
.btns>.info_serie>span{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--branco);
}
.som_censura {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.som_censura>.som{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border: 1px solid var(--branco);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.som:hover{
    background-color: var(--cinza-25);
}
.som>img{
    width: 24px;
}
.som_censura>.censura{
    width: 125px;
    height: 45px;
    border-left: 3px solid var(--cinza);
    background-color: var(--preto-75);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.idade_censura {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--branco);
    width: 42px;
    height: 42px;
    margin-left: 15px;
    background-color: var(--vermelho);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.assistindo{
    /* background: linear-gradient(to top, #000, #000000ee, #000000dd); */
}
/* ===============================PREVIA=============================== */